
# @yasinkuyu

/app/config.py
/db/orders.db

**/env
*.pyc
.pyc
.DS_Store
.gitignore
.idea/dictionaries/Notorious.xml
.idea/binance-trader.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
